/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;

}

body{
    background-color: rgb(227, 224, 224);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    color: #27374D;
    text-shadow: 2px 2px 20px gray;
    letter-spacing: 2px;
    margin-top: 50px;
}

.container {
    background-color: #27374D;
    color: #DDE6ED;
    width: 70vw;
    height: 80vw;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.greet{
    align-self: flex-start;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.greet input {
    border: none;
    outline: none;
    font-size: 25px;
    margin-left: 10px;
    color: #DDE6ED;
    background-color:  #27374dac;
    font-style: italic;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.double {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}
.form-spending,
.form-price{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-status{
    display: flex;
    align-items: center;
    gap: 10px;
}

input{
    outline: none;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 7px;
}

.add-btn{
    background-color: red;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.total{
    background-color: #526D82;
    padding: 10px;
    border-radius: 10px;
}

.total p, span{
    font-style: italic;
    color: yellowgreen;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    width: 100%;
    /* scrollu liste alanına sığdırma ve
    dışa taşmayı önleme  */
    overflow: auto;
}

.spending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.buttons{
    display: flex;
    align-items: center;
}

.buttons img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.buttons img:nth-child(2){
    width: 44px;
    height: 40px;
}

/* ödenmediyse ücret kırmızı renkte */
.spending h3:nth-child(2){
    color: red;
}
.payed{
    opacity: 0.6;
}
/* ödendiyse payed classını aldıysa üstünü çiz */
.payed h3:nth-child(1){
    text-decoration: line-through;
}
/* ödendiyse ücret yeşil renkte olsun */
.payed h3:nth-child(2){
    color: green;
}

select {
    outline: none;
    border-radius: 10px;
    padding: 3px;
}

.spending{
    background-color: #9db8ca;
    color: #09172a;
}